

.swipe-area {
    height: 100%;
    width: 100%;
  }
  ion-tab-bar {
    --background: #d4e0f5;
    box-shadow: 0px 1px 2px #5e90e7;
    bottom: 4px;
    position: relative;
    border-radius: 16px;
    width: 96%;
    border-top: none;
    margin: 0 auto;
    height: 60px;
  }

  ion-tab-button {
    --color: #6e99e2;
    --color-selected: #3880FF;
    --padding-bottom: 8px;
    --padding-top: 8px;
  
    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin: 0 auto;
      width: 20px;
      height: 2px;
    }
  
    &.tab-selected::before {
      background-color: #1565f0;
    }
  }
  